adf-root/pipeline/ConfFilePipeline.json
{
	"name": "ConfFilePipeline",
	"properties": {
		"activities": [
			{
				"name": "Read conf",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_json",
						"type": "DatasetReference",
						"parameters": {
							"p_container_name": {
								"value": "@pipeline().globalParameters.container_path",
								"type": "Expression"
							},
							"p_folder_name": {
								"value": "@pipeline().globalParameters.config_folder_path",
								"type": "Expression"
							},
							"p_file_name": {
								"value": "@pipeline().globalParameters.config_file_path",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Set source container name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read conf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "source_container_name",
					"value": {
						"value": "@activity('Read conf').output.firstRow.source_container_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set source folder path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read conf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "source_folder_name",
					"value": {
						"value": "@activity('Read conf').output.firstRow.source_folder_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set sink_container_name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read conf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sink_container_name",
					"value": {
						"value": "@activity('Read conf').output.firstRow.sink_container_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set sink_folder_name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read conf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sink_folder_name",
					"value": {
						"value": "@activity('Read conf').output.firstRow.sink_folder_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set error variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read conf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_variable",
					"value": {
						"value": "@activity('Read conf').output.firstRow.teste",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set error variable",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_variable",
					"value": {
						"value": "\"teste\"",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Source FileNames",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set source container name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set source folder path",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set sink_container_name",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set sink_folder_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_csv",
						"type": "DatasetReference",
						"parameters": {
							"container_name": {
								"value": "@variables('source_container_name')",
								"type": "Expression"
							},
							"folder_name": {
								"value": "@variables('source_folder_name')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Source FileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Source FileNames').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_csv_filename",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@variables('source_container_name')",
											"type": "Expression"
										},
										"folder_name": {
											"value": "@variables('source_folder_name')",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_json",
									"type": "DatasetReference",
									"parameters": {
										"p_container_name": {
											"value": "@variables('sink_container_name')",
											"type": "Expression"
										},
										"p_folder_name": {
											"value": "@variables('sink_folder_name')",
											"type": "Expression"
										},
										"p_file_name": {
											"value": "@replace(item().name, '.csv', '.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_file_table",
						"type": "DataFlowReference",
						"datasetParameters": {
							"source2": {
								"p_container_name": {
									"value": "@variables('sink_container_name')",
									"type": "Expression"
								},
								"p_folder_name": {
									"value": "@variables('sink_folder_name')",
									"type": "Expression"
								},
								"p_file_name": "country_info.json"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "None",
					"cacheSinks": {
						"firstRowOnly": true
					}
				}
			}
		],
		"variables": {
			"source_container_name": {
				"type": "String"
			},
			"source_folder_name": {
				"type": "String"
			},
			"sink_container_name": {
				"type": "String"
			},
			"sink_folder_name": {
				"type": "String"
			},
			"error_variable": {
				"type": "String"
			}
		},
		"folder": {
			"name": "examples-pipelines"
		},
		"annotations": []
	}
}