adf-root/pipeline/ConfFilePipeline.json
{
	"name": "ConfFilePipeline",
	"properties": {
		"activities": [
			{
				"name": "Read conf",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "conf_json",
						"type": "DatasetReference",
						"parameters": {
							"p_container_name": {
								"value": "@pipeline().globalParameters.container_path",
								"type": "Expression"
							},
							"p_folder_name": {
								"value": "@pipeline().globalParameters.config_folder_path",
								"type": "Expression"
							},
							"p_file_name": {
								"value": "@pipeline().globalParameters.config_file_path",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Set source container name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read conf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "source_container_name",
					"value": {
						"value": "@activity('Read conf').output.firstRow.source_container_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set source folder path",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read conf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "source_folder_name",
					"value": {
						"value": "@activity('Read conf').output.firstRow.source_folder_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set sink_container_name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read conf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sink_container_name",
					"value": {
						"value": "@activity('Read conf').output.firstRow.sink_container_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set sink_folder_name",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read conf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sink_folder_name",
					"value": {
						"value": "@activity('Read conf').output.firstRow.sink_folder_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set error variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read conf",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_variable",
					"value": {
						"value": "@activity('Read conf').output.firstRow.sink_folder_name",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"source_container_name": {
				"type": "String"
			},
			"source_folder_name": {
				"type": "String"
			},
			"sink_container_name": {
				"type": "String"
			},
			"sink_folder_name": {
				"type": "String"
			},
			"error_variable": {
				"type": "String"
			}
		},
		"folder": {
			"name": "examples-pipelines"
		},
		"annotations": []
	}
}