adf-root/pipeline/Copy_query.json
{
	"name": "Copy_query",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_json",
						"type": "DatasetReference",
						"parameters": {
							"p_container_name": {
								"value": "@pipeline().parameters.p_container",
								"type": "Expression"
							},
							"p_folder_name": {
								"value": "@pipeline().parameters.p_folder",
								"type": "Expression"
							},
							"p_file_name": {
								"value": "@pipeline().parameters.p_file",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "query1",
					"value": {
						"value": "@activity('Lookup1').output.value[0].Tables.country.SourceQuery",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@variables('query1')",
							"type": "Expression"
						},
						"queryTimeout": "00:05:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_db",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sink_parquet",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"p_container": {
				"type": "string",
				"defaultValue": "raw-covid-files"
			},
			"p_folder": {
				"type": "string",
				"defaultValue": "config-files"
			},
			"p_file": {
				"type": "string",
				"defaultValue": "query.json"
			}
		},
		"variables": {
			"query1": {
				"type": "String"
			},
			"query2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "examples-pipelines"
		},
		"annotations": []
	}
}